body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
}

header {
  background-color: #ff99cc;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 30px;
}

.hero img {
  width: 70%;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 250px;
}

.card img {
  width: 100%;
}

footer {
  background-color: #ff99cc;
  color: white;
  text-align: center;
  padding: 10px;
}
