body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffe6f0;
}

header {
  background-color: #ff99cc;
  color: white;
  text-align: center;
  padding: 20px;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 40px;
}

.hero img {
  width: 70%;
  border-radius: 20px;
}

section {
  padding: 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background-color: #ff99cc;
  color: white;
  text-align: center;
  padding: 10px;
}
